<!DOCTYPE html>
<html>
<head>
	<title>First Html in node js</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>Use this to get weather</p>
	</div>
	{{>footer}}	
</body>
</html>